<%- include('partials/header') -%>

<h1>That movie already exists in your list</h1>

<p><a href="/">Search for another movie</a></p>
<p><a href="/towatch">View your To Watch list</a></p>
<p><a href="/completed">View your completed list</a></p>

<%- include('partials/footer') -%>